// Bio
.bio-wrapper {
    display: flex;
    flex-direction: row;
}

.bio-right {
    width: 24%;
    text-align: center;
    padding-left: $spacing-unit * 2;
    padding-top: $spacing-unit;
}

.bio-left {
    width: 76%;
    text-align: justify;
    padding-right: $spacing-unit * 2;
    padding-top: $spacing-unit;
}

img.bio-profile {
    width: 100%;
    border-radius: $spacing-unit; 
}


@media only screen and (max-width: $on-palm) {
    .bio-wrapper {
        flex-direction: column-reverse;
    }

    .bio-right {
        text-align: center;
        padding: $spacing-unit 0;
        width: 100%;
    }

    .bio-left {
        text-align: justify;
        padding: $spacing-unit 0;
        width: 100%;
    }

    img.bio-profile {
        min-width: 160px;
        width: 20%;
        border-radius: $spacing-unit;
    }

}



// Papers
.pubcard {
    display: flex;
    flex-direction: row;
    margin: 0 0 $spacing-unit * 3 0;
}

.pubcard .publeft {
    width: 30%;
    padding-right: $spacing-unit;
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.pubcard .pubright {
    padding-left: $spacing-unit;
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: left;
    align-items: start;
    justify-content: center;
}

.pc-profile {
    width: 100%;
    border-radius: $spacing-unit;
}

@media only screen and (max-width: $on-palm) {
    .pubcard {
        display: flex;
        flex-direction: column;
    }

    .pubcard .publeft,
    .pubcard .pubright {
        width: 100%;
        margin: 0%;
        padding: 0%;
    }

    .pubcard .publeft {
        text-align: center;
        padding-bottom: $spacing-unit;
    }

    .pubcard .pubright {
        text-align: left;
        margin: 0%;
        border-radius: 0px;
    }

    .pc-profile {
        min-width: 160px;
        width: 100%;
        //border-radius: 15px;
    }
}

// cards
.awards {
}

.awards .awardcard {
    margin: 0 0 $spacing-unit * 2 0;
    padding: $spacing-unit;
    border-radius: $spacing-unit;
    background-color: $pill-color;
    justify-items: center;
    width: 100%;
}


.awardname,
.awarder {
    text-align: left;
    text-justify: left;
    width: 100%;
    margin: 0px;
}

.awarder {
    color: $light-text-color;
    font-weight: bold;
}


hr.cardiv {
    height: 2px;
    border-width: 0;
    color: $light-text-color;
    background-color: $light-text-color;
    margin-top: calc(#{$spacing-unit});
    margin-bottom: calc(#{$spacing-unit});
}

hr.pagediv {
    margin-top: calc(#{$spacing-unit} * 2);
    margin-bottom: calc(#{$spacing-unit} * 2);
    height: 2px;
    border-width: 0;
    color: $light-text-color;
    background-color: $light-text-color;
}


a.footer_link {
    text-decoration: none;
    color: inherit;

    &:visited {
        color: inherit;
    }

    &:hover {
        text-decoration: underline;
    }
}

a.venue {
    text-decoration: none;
    font-weight: bold;

    &:visited {
        color: inherit;
    }

    &:hover {
        text-decoration: underline;
    }
}



a.publication,
a.award,
a.classname {
    color: $text-color;
    text-decoration: none;
    font-weight: bold;

    &:visited {
        color: $text-color;
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }

    .social-media-list &:hover {
        text-decoration: none;

        .username {
            text-decoration: underline;
        }
    }
}

a.award,
a.publication {
    @include relative-font-size(1.25);
    font-weight: bold;
}

a.classname {
    @include relative-font-size(1.25);
    font-weight: bold;
}

@media screen and (max-width: $on-laptop) {

    a.award,
    a.publication {
        @include relative-font-size(1.2);
        font-weight: bold;
    }

    a.classname {
        @include relative-font-size(1.2);
        font-weight: bold;
    }

}

a.pill,
a.centerpill,
a.morepill {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
}

a.pill,
a.centerpill {
    background-color: $pill-color;
    color: $text-color;
    padding: $spacing-unit / 4 $spacing-unit;
    font-weight: 500;

    &:visited {
        background-color: $pill-color;
        color: $text-color;
    }

    &:hover {
        background-color: $interact-pill-color;
        color: $text-color;
    }
}

a.pill {
    margin: 0 $spacing-unit * 2 0 0;
}

a.centerpill {
    margin: 0 $spacing-unit;
}

.pilldiv {
    margin: $spacing-unit * 3 0;
}


a.morepill {
    background-color: $link-base-color;
    color: white;
    margin: 0px;
    font-size: large;
    padding-top: $spacing-unit * 1;
    padding-bottom: $spacing-unit * 1;
    padding-left: $spacing-unit * 2;
    padding-right: $spacing-unit * 2;

    &:visited {
        color: $background-color;
        background-color: $link-base-color;
    }

    &:hover {
        color: $background-color;
        background-color: $negative-pill-color;
    }
}

p.authors {
  color: $light-text-color;
}

span.honors{
  font-weight:bold;
  background-color:#c92a2a;
  color: $background-color;
  border-radius: 0px;
  margin-left: $spacing-unit;
  padding:0px 3px 0px 3px;
}

span.dots {
    //padding: 0 10px 0 10px;
    border-radius: 100px;
    //width: 40px;
    //height: 16px;
    //background-color:#f1f3f5;
    color: $light-text-color;
}
