---
layout: default
---
<div class="post-content">

    <div class="tc-div">
        <div class="tc-col-1">
            <img src="/assets/images/chengjia.jpg" class="tc-profile">
        </div>
        <div class="tc-col-2">
            <p>
                I am a PhD student in the <a
                    href="https://medicine.umich.edu/dept/computational-medicine-bioinformatics">
                    Department of Computational Medicine and Bioinformatics (DCMB) </a>
                at the University of Michigan (U-M). I am a member of the <a
                    href="https://hollon.lab.medicine.umich.edu"> Machine Learning in
                    Neurosurgery Laboratory</a>, led by <a
                    href="https://medicine.umich.edu/dept/neurosurgery/todd-hollon-md">
                    Dr. Todd Hollon</a>. My research focuses on computer vision,
                machine learning, and biomedical data science. I am especially
                interested in representation learning and integrating
                observations from multiple modalities. Previously,
                I completed a joint BSE/MSE degree program in <a href="https://cse.engin.umich.edu">Computer Science and
                    Engineering</a> at U-M, where I also played tenor saxophone in
                the <a href="https://www.michiganmarchingband.com">Michigan
                    Marching Band</a>.
            </p>
        </div>
    </div>

    <h3><b>Recent Publications</b></h3>

    <div class="pc-div">
        <div class="pc-col-1">
            <img src="/assets/images/farzaneh2020automated.png" class="pc-profile">
        </div>
        <div class="pc-col-2">
            <p style="color:#009193; margin-bottom: 0px;"><b>MDPI DIAGNOSTICS | VOLUME 10 (2020)</b></p>
            <a class="publication" href="https://doi.org/10.3390/diagnostics10100773"> Automated
                Segmentation and Severity Analysis of Subdural Hematoma for Patients
                with Traumatic Brain Injuries</a>
            <p style="color:#797979;">
                Negar Farzaneh, Craig A. Williamson, <b>Cheng Jiang,</b> Ashok
                Srinivasan, Jayapalli R. Bapuraj, Jonathan Gryak, Kayvan Najarian, and
                S. M. Reza Soroushmehr
            </p>
        </div>
    </div>
    <div class="pc-div">
        <div class="pc-col-1">
            <img src="/assets/images/jiang2019midline.png" class="pc-profile">
        </div>
        <div class="pc-col-2">
            <p style="color:#FF9300; margin-bottom: 0px;"><b>IEEE BIBM | 2019</b></p>
            <a class="publication" href="https://ieeexplore.ieee.org/document/8983159">
                Midline Shift vs. Mid-Surface Shift: Correlation with Outcome of
                Traumatic Brain Injuries</a>
            <p style="color:#797979;">
                <b>Cheng Jiang,</b> Jie Cao, Craig Williamson, Negar Farzaneh,
                Venkatakrishna Rajajee, Jonathan Gryak, Kayvan Najarian, and S.M.Reza
                Soroushmehr
            </p>
        </div>
    </div>
    <p style="text-align:right;"><a href="/publications.html">More Publications >></a></p>

    <h3><b>Teaching</b></h3>
    <div class="flexcard">
        <div class="onecard">
            <h4 style="font-weight: bold; color:#000000;"><a
                    href="https://adue.engin.umich.edu/engineering-101-introduction-to-computers-and-programming/">Intro
                    Computers & Programming</a></h4>
            <h5 style="color:#000000; margin-top:0px">ENGR 101 @ U-M</h5>
            <p>Solving engineering problems with computer programming in
                MATLAB and C++.</p>
            <hr>
            <p>Graduate Student Instructor</p>
            <p>Fall 19 | Winter 20 | <a href="https://engr101staff.github.io/engr101.org/archive/f20_site.html">Fall
                    20</a> | <a href="https://engr101staff.github.io/engr101.org/archive/w21_site.html">Winter
                    21</a></p>
        </div>
    </div>

    <h3><b>Internships</b></h3>
    <div class="industry-entry">
        <div class="company-name" style="color:#000000;">APPLE</div>
        <p>Machine Learning Research Intern, Summer 2021</p>
        <p>
            I conducted machine learning experiments for a human-centered regression task
            using RGBD images and data. I improved model interpretability and robustness by
            engineering heuristics and integrating domain knowledge. I also created
            visualizations for latent representations and input relevance to provide
            interpretability to deep learning models.</p>
    </div>
    <div class="industry-entry">
        <div class="company-name" style="color:#9437FF;">MOTIONAL</div>
        <p>Research Intern, Summer 2020</p>
        <p>I conducted experiments to improve multimodal motion prediction for agents
            on the road by adding raw camera images to CoverNet. I also created an
            annotation pipeline and coordinated with vehicle operators to annotate image
            attributes in driving logs.</p>
    </div>
    <div class="industry-entry">
        <div class="company-name" style="color:#0433FF;">GENERAL MOTORS</div>
        <p>Vehicle Engineering Intern, Summer 2018</p>
        <p>I developed an autonomous vehicle behavior planner with lane keeping
            capability using a cognitive architecture, and assessed the feasibility to
            transform existing rule-based planners to use the cognitive architecture.</p>
    </div>
</div>

</div>