---
layout: default
---
<div class="post-content">
    <div class="bio-wrapper">
        <div class="bio-left">
            <p> I am a PhD student in the <a
                    href="https://medicine.umich.edu/dept/computational-medicine-bioinformatics">
                    Department of Computational Medicine and Bioinformatics (DCMB) </a>
                at the University of Michigan (U-M). I am a member of the <a
                    href="https://hollon.lab.medicine.umich.edu"> Machine Learning in
                    Neurosurgery Laboratory</a>, led by <a
                    href="https://medicine.umich.edu/dept/neurosurgery/todd-hollon-md">
                    Dr. Todd Hollon</a>. My research focuses on computer vision,
                machine learning, and biomedical data science. I am especially
                interested in representation learning and integrating
                observations from multiple modalities. Previously,
                I completed a joint BSE/MSE degree program in
                <a href="https://cse.engin.umich.edu">Computer Science and
                    Engineering</a> at U-M, where I also played tenor saxophone in
                the <a href="https://www.michiganmarchingband.com">Michigan
                    Marching Band</a>.
            </p>

            <div class="centerpill-row">
                <div class="centerpill-group" id="contact-pill-group">
                    <a class="centerpill centerpill-link" href="https://scholar.google.com/citations?user=T9GuTDIAAAAJ&hl=en">Google Scholar</a>
                    <a class="centerpill centerpill-link" href="https://www.linkedin.com/in/chengjia63/">LinkedIn</a>
                    <button class="centerpill centerpill-email-trigger" type="button" aria-controls="centerpill-email" aria-expanded="false">Email</button>
                    <div class="centerpill-email" id="centerpill-email" aria-live="polite">
                        <span>chengjia AT umich DOT edu</span>
                        <button class="centerpill-email-close" type="button" aria-label="Close email">
                            <svg viewBox="0 0 24 24" aria-hidden="true">
                                <path d="M9 9l6 6M15 9l-6 6"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="bio-right">
            <img src="/assets/images/chengjia.jpg" class="bio-profile">
        </div>
    </div>

    <div class="home-section-head">
        <h3 style="font-weight:bold;">Recent Publications</h3>
        <a class="morepill" href="/publications">More Publications</a>
    </div>
    <div class="pubgroup">
    {% for i in site.data.publications %}
    {% if i[1].recent %}
    {% assign pub_key = i[0] %}
    {% assign pub_item = i[1] %}
    {% include publication_card.html key=pub_key pub=pub_item %}
    {% endif %}
    {% endfor %}
    </div>

    <h3 style="font-weight:bold;">Awards</h3>
    <div class="awards">
        {% for i in site.data.awards %}
        <div class="awardcard">
            {% assign award_year = i.time | split: " " | last %}
            <div class="awardname">
                <a class="award" href="{{ i.link }}">{{ i.award }}</a>
            </div>
            <p class="award-kicker">{{ i.awarder_short }}, {{ award_year }}{% if i.award_detail %}, {{ i.award_detail }}{% endif %}</p>
        </div>
        {% endfor %}
    </div>

    <h3 style="font-weight:bold;">Teaching</h3>
    <div class="awards">
        {% comment %}
        <div class="awardcard">
            <div class="awardname">
                <a class="classname"
                    href="https://ai-4-all.org">
                    AI4ALL
                </a>
            </div>

            <div class="awarder">
            <a href="https://culture.engin.umich.edu/k-12/ai4all/">Summer
            Program</a>&nbsp;@ University of Michigan
            </div>

            <p class="awarder">Summer 2022 | Summer 2021 </p>
        </div>
        {% endcomment %}

        <div class="awardcard">
            <div class="awardname">
                <a class="classname"
                    href="https://engr101.org/">
                    Introduction to Computers & Programming
                </a>
            </div>

            <p class="award-kicker">
            <a href="https://adue.engin.umich.edu/engineering-101-introduction-to-computers-and-programming/">ENGR
            101</a>&nbsp;@ University of Michigan
            </p>

            <div class="teaching-terms">
                <a class="pill" href="https://engr101staff.github.io/engr101.org/archive/w21_site.html">Winter 2021</a>
                <a class="pill" href="https://engr101staff.github.io/engr101.org/archive/f20_site.html">Fall 2020</a>
                <span class="pill">Winter 2020</span>
                <span class="pill">Fall 2019</span>
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        var group = document.getElementById("contact-pill-group");
        if (!group) return;

        var trigger = group.querySelector(".centerpill-email-trigger");
        var close = group.querySelector(".centerpill-email-close");

        trigger.addEventListener("click", function () {
            group.classList.add("is-email-open");
            trigger.setAttribute("aria-expanded", "true");
        });

        close.addEventListener("click", function () {
            group.classList.remove("is-email-open");
            trigger.setAttribute("aria-expanded", "false");
            trigger.focus();
        });
    })();
</script>
