---
layout: default
---
<div class="post-content">

    <div class="tc-div">
        <div class="tc-col-1">
            <img src="/assets/images/chengjia.jpg" class="tc-profile">
        </div>
        <div class="tc-col-2">
            <p>
                I am a PhD student in the <a
                    href="https://medicine.umich.edu/dept/computational-medicine-bioinformatics">
                    Department of Computational Medicine and Bioinformatics (DCMB) </a>
                at the University of Michigan (U-M). I am a member of the <a
                    href="https://hollon.lab.medicine.umich.edu"> Machine Learning in
                    Neurosurgery Laboratory</a>, led by <a
                    href="https://medicine.umich.edu/dept/neurosurgery/todd-hollon-md">
                    Dr. Todd Hollon</a>. My research focuses on computer vision,
                machine learning, and biomedical data science. I am especially
                interested in representation learning and integrating
                observations from multiple modalities. Previously,
                I completed a joint BSE/MSE degree program in <a href="https://cse.engin.umich.edu">Computer Science and
                    Engineering</a> at U-M, where I also played tenor saxophone in
                the <a href="https://www.michiganmarchingband.com">Michigan
                    Marching Band</a>.
            </p>
        </div>
    </div>

    <h3 style="font-weight:bold;">Recent Publications</h3>
    {% for i in site.data.publications %}
    {% if i.highlight %}
    <div class="pubcard">
        <div class="publeft">
            <img src="/assets/images/{{ i.im }}.png" class="pc-profile">
        </div>
        <div class="pubright">
            <p style="color:#{{ i.color }}; margin: 0px; font-weight:bold">
                {{ i.venue }}</p>
            <a class="publication" href="{{ i.link }}">{{ i.title }}</a>
            <p style="color:#696969;">{{ i.authors }} </p>
            <div class="pill">
                {% for j in i.pills %}
                <a href="{{ j.link }}">{{ j.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="pill">
        <a style="background-color: #1756a9" href="/publications">More Publications</a>
    </div>

    <h3 style="font-weight:bold;">Awards</h3>
    <div class="awards">
        {% for i in site.data.awards %}
        <div class="awardcard">
            <div class="awardname">
                <a class="award" href="{{ i.link }}">{{ i.award }}</a>
            </div>
            <hr class="cardiv">
            <div class="awarder">{{ i.awarder }}</div>
            <div class="awardtime">{{ i.time }}</div>
        </div>
        {% endfor %}
    </div>

    <h3 style="font-weight:bold;">Teaching</h3>
    <div class="teaching">
        <div class="classcard">
            <div class="tclassname"><a
                    href="https://adue.engin.umich.edu/engineering-101-introduction-to-computers-and-programming/">
                    Intro Computers & Programming
                </a></div>
            <div class="tinstu">ENGR 101 @ U-M</div>
            <hr class="cardiv">
            <div class="ttitle">Graduate Student Instructor</div>
            <div class="ttime">
                <p>Fall 19 | Winter 20 | <a href="https://engr101staff.github.io/engr101.org/archive/f20_site.html">Fall
                        20</a> | <a href="https://engr101staff.github.io/engr101.org/archive/w21_site.html">Winter
                        21</a></p>
            </div>
        </div>
    </div>

    <h3 style="font-weight:bold;">Internships</h3>
    <div class="industry">
        {% for i in site.data.internships %}
        <div class="indcard">
            <div class="indemp" style="color:#{{ i.color }};">
                {{ i.employer }}
            </div>
            <hr class="cardiv">
            <div class="indtitle">{{ i.title }}</div>
            <div class="indtime">{{ i.time }}</div>
        </div>
        {% endfor %}
    </div>
</div>
