---
layout: default
---
<div class="post-content">

<h2><b>Internships</b></h2>
<div class="industry-entry">
<div class="company-name" style="color:#000000;">APPLE</div>
<p>Machine Learning Research Intern, Summer 2021</p>
<p>
I conducted machine learning experiments for a human-centered regression task
using RGBD images and data. I improved model interpretability and robustness by
engineering heuristics and integrating domain knowledge. I also created
visualizations for latent representations and input relevance to provide
interpretability to deep learning models.</p>
</div>
<div class="industry-entry">
<div class="company-name" style="color:#9437FF;">MOTIONAL</div>
<p>Research Intern, Summer 2020</p>
<p>I conducted experiments to improve multimodal motion prediction for agents
on the road by adding raw camera images to CoverNet. I also created an
annotation pipeline and coordinated with vehicle operators to annotate image
attributes in driving logs.</p>
</div>
<div class="industry-entry">
<div class="company-name" style="color:#0433FF;">GENERAL MOTORS</div>
<p>Vehicle Engineering Intern, Summer 2018</p>
<p>I developed an autonomous vehicle behavior planner with lane keeping
capability using a cognitive architecture, and assessed the feasibility to
transform existing rule-based planners to use the cognitive architecture.</p>
</div>
</div>
