---
layout: default
---
<article class="post">

  <header class="post-header">
    <h2 style="font-weight: 600;">
      {{ site.data.publications[page.title].title }}
    </h2>
    <p style="color:#696969;">{{ site.data.publications[page.title].authors }} </p>
    <p class="venue-line">
      {{ site.data.publications[page.title].venue }}</p>
  </header>

  {{ site.data.publications[page.title].author }}

  {% for j in site.data.publications[page.title].pills %}
  <a class="pill" href="{{ j.link }}">{{ j.title }}</a>
  {% endfor %}

  <hr class="pagediv">

  <div class="post-content">
    {{ content }}
  </div>

</article>
