---
layout: default
---
<div class="post-content">
    <h2><b>Publications</b></h2>

    <div class="pubcard">
        <div class="publeft">
            <img src="/assets/images/farzaneh2020automated.png" class="pc-profile">
        </div>
        <div class="pubright">
            <p style="color:#009193; margin-bottom: 0px;"><b>MDPI DIAGNOSTICS | VOLUME 10 (2020)</b></p>
            <a class="publication" href="https://doi.org/10.3390/diagnostics10100773"> Automated
                Segmentation and Severity Analysis of Subdural Hematoma for Patients
                with Traumatic Brain Injuries</a>
            <p style="color:#696969;">
                Negar Farzaneh, Craig A. Williamson, <b>Cheng Jiang,</b> Ashok
                Srinivasan, Jayapalli R. Bapuraj, Jonathan Gryak, Kayvan Najarian, and
                S. M. Reza Soroushmehr
            </p>
        </div>
    </div>
    <div class="pubcard">
        <div class="publeft">
            <img src="/assets/images/li2020prediction.png" class="pc-profile">
        </div>
        <div class="pubright">
            <p style="color:#941100; margin-bottom: 0px;"><b>BIOMEDICAL SIGNAL PROCESSING & CONTROL |
                    VOLUME 63 (2021)</b></p>
            <a class="publication" href="https://doi.org/10.1016/j.bspc.2020.102200">
                Prediction of Cardiac Arrhythmia Using Deterministic Probabilistic
                Finite-state Automata</a>
            <p style="color:#696969;">
                Zhi Li, Harm Derksen, Jonathan Gryak, <b>Cheng Jiang,</b> Zijun Gao,
                Winston Zhang, Hamid Ghanbari, Pujitha Gunaratne, and Kayvan Najarian
            </p>
        </div>
    </div>
    <div class="pubcard">
        <div class="publeft">
            <img src="/assets/images/bagherian2020coupled.png" class="pc-profile">
        </div>
        <div class="pubright">
            <p style="color:#0096FF; margin-bottom: 0px;"><b>BRIEFINGS IN BIOINFORMATICS | VOLUME 22
                    (2021)</b></p>
            <a class="publication" href="https://doi.org/10.1093/bib/bbaa025">
                Coupled Matrix-Matrix and Coupled Tensor-Matrix Completion Methods for
                Predicting Drug-Target Interactions</a>
            <p style="color:#696969;">
                Maryam Bagherian, Renaid Kim, <b>Cheng Jiang,</b> Maureen A. Sartor,
                Harm Derksen, and Kayvan Najarian
            </p>
        </div>
    </div>
    <div class="pubcard">
        <div class="publeft">
            <img src="/assets/images/jiang2019midline.png" class="pc-profile">
        </div>
        <div class="pubright">
            <p style="color:#FF9300; margin-bottom: 0px;"><b>IEEE BIBM | 2019</b></p>
            <a class="publication" href="https://ieeexplore.ieee.org/document/8983159">
                Midline Shift vs. Mid-Surface Shift: Correlation with Outcome of
                Traumatic Brain Injuries</a>
            <p style="color:#696969;">
                <b>Cheng Jiang,</b> Jie Cao, Craig Williamson, Negar Farzaneh,
                Venkatakrishna Rajajee, Jonathan Gryak, Kayvan Najarian, and S.M.Reza
                Soroushmehr
            </p>
        </div>
    </div>
    <div class="pubcard">
        <div class="publeft">
            <img src="/assets/images/farzaneh2016automated.png" class="pc-profile">
        </div>
        <div class="pubright">
            <p style="color:#008F00; margin-bottom: 0px;"><b>IEEE EMBC | 2017</b></p>
            <a class="publication" href="https://ieeexplore.ieee.org/document/8037505">
                Automated Subdural Hematoma Segmentation for Traumatic Brain Injured
                (TBI) Patients</a>
            <p style="color:#696969;">
                Negar Farzaneh, S.M.Reza Soroushmehr, Craig A. Williamson, <b>Cheng
                    Jiang,</b> Ashok Srinivasan, Jayapalli R. Bapuraj, Kevin R. Ward,
                Frederick K. Korley, and Kayvan Najarian
            </p>
        </div>
    </div>
</div>