---
layout: default
---
<div class="post-content">
    <h2><b>Publications</b></h2>
    {% for i in site.data.publications %}
    <div class="pubcard">
        <div class="publeft">
            <img src="/assets/images/{{ i.im }}.png" class="pc-profile">
        </div>
        <div class="pubright">
            <p style="color:#{{ i.color }}; margin: 0px; font-weight:bold">
                {{ i.venue }}</p>
            <a class="publication" href="{{ i.link }}">{{ i.title }}</a>
            <p style="color:#696969;">{{ i.authors }} </p>
            <div class="pill">
                {% for j in i.pills %}
                <a href="{{ j.link }}">{{ j.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>